<!DOCTYPE html>
<html lang="en">

<%- include('./patials/head.ejs') %>

    <body>
        <%- include('./patials/nav.ejs') %>
            <div class="about content">
                <h2>About Page</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae repellat eum impedit
                    optio porro vitae quibusdam harum ad pariatur dignissimos ipsum architecto, fugit dolorum animi
                    cupiditate esse veniam saepe!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae repellat eum impedit
                    optio porro vitae quibusdam harum ad pariatur dignissimos ipsum architecto, fugit dolorum animi
                    cupiditate esse veniam saepe!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae repellat eum impedit
                    optio porro vitae quibusdam harum ad pariatur dignissimos ipsum architecto, fugit dolorum animi
                    cupiditate esse veniam saepe!</p>
            </div>
            <div class="footer">
                <%- include('./patials/footer.ejs') %>
            </div>
    </body>

</html>